@import "../../styles/colors.scss";

body {
  background-color: $white;
}

.textCenter {
  text-align: center;
}

.signInWrap {
  @extend .flex-center;
	min-height: 100vh;
  min-width: 100%;
  background-color: $white;

  .content {
    @extend .flex-center;
    flex: 1;
    flex-direction: column;
    padding: 4rem;
    height: 100vh;

    & > section + section {
      margin-top: 12px;
    }

    .subtitle {
      color: $grey;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      max-width: 280px;
    }

    .authWrap {
      @extend .flex-center;
      flex-direction: column;
      width: 100%;
    
      .title1 {
        margin-top: 2rem;
        font-size: 1.8rem;
      }
    
      button {
        margin-top: 1rem;
        border: 3px solid transparent;
        border-image: linear-gradient(to right, $purple, $primary);
        border-image-slice: 1;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .signInWrap {
    flex-direction: column;

    .title1 {
      font-size: 2rem;
    }
    .header {
      width: 100%;
      min-width: 100%;
      min-height: 32vh;
    }

    img {
      transform: scale(0.75);
    }

    .content {
      flex: 1;
      width: 100%;
    }
  }
}
