@import "../../styles/colors.scss";

body {
  background-color: $white!important;
  padding-bottom: 4rem;
}

.signInWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 100vh;
	max-height: 100vh;
  overflow: hidden;
  background-color: $white;

  .content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;

    & > section + section {
      margin-top: 24px;
    }

    .icon {
      max-width: 240px;
    }

    .title {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    .subtitle {
      color: $grey;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      max-width: 280px;
    }

    .authWrap {
      @extend .flex-center;
      flex-direction: column;
      width: 100%;
    
      button {
        margin-top: 1rem;
        border: 3px solid transparent;
        border-image: linear-gradient(to right, $purple, $primary);
        border-image-slice: 1;
        border-radius: 8px;
      }
    }
  }

}

@media screen and (min-width: 600px) {
  .signInWrap {
    flex-direction: column;

    .content {
      .title {
        font-size: 2rem;
      }
    }
  }
}
