@import '../../styles/colors.scss';

.buttonWrap {
  @extend .flex-center;

  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  font-weight: 600;
  background-color: $white;
	font-size: 16px;
  line-height: 50px;
  outline: none;
	padding: 0 16px;

  button {
    text-align: left;
  }

  svg {
    margin-right: 1rem;
  }

  &:hover {
    background-color: darken($white, 15%);
  }

  &:disabled {
		background-color: var(--disabledBackground);
		color: var(--disabledColor);

    &:hover {
      opacity: 1;
    }
	}
}