@import '../../styles/colors.scss';

.buttonWrap {
  @extend .flex-center;

  width: 100%;
  max-width: 600px;
  border: 1px solid $greyDark;
  color: $greyDark;
  font-weight: 600;
  background-color: transparent;

  &:hover {
    background-color: darken($white, 15%);
  }
  svg {
    margin-right: 1rem;
  }
}