@import '../../styles/colors.scss';

.selectWrap {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 263px;

  .portalWrap {
    flex-direction: column;
    position: absolute;
    top: 48px;
    padding-bottom: 12px;
    background-color: $white;
    border-radius: 0 0 8px 8px;
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    border: solid 2px $primaryLight;

    &[data-status="true"] { 
      border-top: none;
      display: flex;
     }
    &[data-status="false"] { display: none; }
  }
}
