@import '../../styles/colors.scss';

.subtitle {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: $greyDark;
  margin-bottom: 2rem;

  &::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-image: $primaryGradient;
    width: 60%;
    height: 4px;
  }
}

@media (min-width: 600px) {
  .subtitle {
    &::after {
      width: 40%;
    }
  }
}