@import '../../../../styles/colors.scss';

.contentWrap {
  flex-direction: column;
  position: absolute;
  top: 48px;
  padding-bottom: 12px;
  background-color: $white;
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
  border: solid 2px $primaryLight;
  transition: all ease 0.4s;
  border-top: none;
  opacity: 1;
  border-radius: 0 0 8px 8px;

  &[data-status="false"] { 
    opacity: 0;
    display: none;
  }
}
