@import "../../styles/colors.scss";

body {
  background-color: $white!important;
  padding-bottom: 4rem;
}

.homeWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $primary;
  
  .appBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    .filtersSearch {
      margin-bottom: -80px;
      background-color: $secondary;
    }
  }
  
  .lastSearchsWrap {
    flex: 1;
    display: flex;
    background-color: $white;
    padding-top: 80px;
  }
}
