@import "../../styles/colors.scss";

body {
  background-color: $white!important;
  padding-bottom: 4rem;
}

.homeWrap {
  flex: 1;
  display: flex;

  .appBar {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    width: 600px;
    height: 100vh;

    .filtersWrap {
      background-color: $secondary;
      padding: 3rem 2rem;
      border-radius: 15px;
      margin: 0 auto;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
      z-index: 1;
      
      .filterTrigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        background-color: $white;
      }

      .trigger {
        background-color: transparent;
        color: $primaryLight;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
      }
      
      fieldset {
        & + fieldset {
          margin-top: 1rem;
        }
        border: none;
      }

      .dayFilters {
        display: flex;
        gap: 8px;
      }

      .submit {
        background-image: linear-gradient(to left, $purple, $primary);
        color: $white;
        margin-top: 1rem;
        width: 100%;
        font-size: 20px;
        transition: all ease .3s;

        &:hover {
          background-color: darken($primary, 2%);
        }
      }
    }
    .lastSearchsWrap {
      flex: 1;
      flex-direction: column;
      padding: 30px 20px;

      margin-top: -4rem;
      padding-top: 6rem;

      background-color: $white;

      h2 {
        position: relative;
        flex: 1;
        font-size: 18px;
        font-weight: 500;
        color: $greyDark;
        margin-bottom: 2rem;

        &::after {
          content: '';
          position: absolute;
          bottom: -1rem;
          left: 0;
          background-image: linear-gradient(to left, $purple, $primary);
          width: 60%;
          height: 4px;
        }
      }

      ul {
        color: $greyDark;
        li {
          & + li {
            margin-top: 1rem;
          }
          display: flex;
          padding: 0.8rem;
          border: solid 1px rgba(0,0,0, .15);
          border-radius: 4px;
          cursor: pointer;
          
          &:hover {
            border: solid 1px $primary;
            transform: translateX(6px);
            transition: all ease .4s;
          }

          .search {
            flex: 1;
            p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 0.5rem;
            }

            span {
              color: $grey;
            }
          }
          .datetime {
            color: $grey;
            font-weight: bold;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .homeWrap {
    .appBar {
      .filtersWrap { 
        width: auto;
        max-height: 36vh;
        margin: 0 auto;
        padding: 2rem 1.5rem;
      }
    }
  }
}
