@import "../styles/colors.scss";

:root {
  --white: #FFF;
  --black: #000;
  --background: #F2F2F2;
  --primary: #FF6260;
  --primaryDark: #8a3331;
  --primaryLight: #fd7774;
  --secondary: #F5A522;
  --disabledBackground: #CCC;
  --disabledColor: #666;
  --valid: #4CAF50;
  --invalid: #EF5350;
}

* { 
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, main, body > *, main > *{
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}


body {
	box-sizing: border-box;
	background-color: var(--primary);
}

input[type="password"],
input[type="email"],
input[type="text"] {
	border: none;
	outline: none;

 &:focus {
	outline-color: var(--primaryLight);
 }
}

button {
  font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}
