@import '../../styles/colors.scss';

.radioButtonWrap {
  input[type="radio"] { display: none; }
  border: none;
  border-radius: 10px;

  label {
    font-size: 1rem;
    border: solid 1px $white;
    outline: solid 1px transparent;
    color: $white;
    border-radius: 10px;
    padding: 4px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &[data-status="true"] {
      background: linear-gradient($white, $white) padding-box;
      border: solid 1px $primaryLight;
      outline: solid 1px $primaryLight;
      color: $greyDark;
  
      svg {
        color: $black;
      }
    }

    transition: all ease .3s;
    &:hover:not(.active) {
      border-color: $primaryLight;
    }

    svg {
      color: $white;
      margin-right: 8px;
    }
  }
}
