@import "../../styles/colors.scss";

.headerWrap {
	background-color: $primary;
	min-height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 40px solid $primaryDark;

	img {
		margin-top: 40px;
	}
	h1 {
		color: $white;
		margin: 16px 0 40px;
	}
}

@media only screen and (max-width: 600px) {
	.headerWrap {
		border-top: 20px solid $primaryDark;
	}
}
