@import "../../styles/colors.scss";

.signupWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;

	.form {
		display: flex;
		flex-direction: column;
		width: 400px;
		background-color: $white;
		padding: 40px;
		border-radius: 8px;
		align-self: center;
		box-shadow: 0px 1px 3px -1px;

		h2 {
			color: $primaryDark;
			text-align: center;
			font-size: 20px;
			text-transform: uppercase;
		}

		.link {
			color: $primary;
			text-align: center;
			text-transform: lowercase;
			margin-top: 16px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
