@import "../../styles/colors.scss";

.iconWrap {
  padding: 10px;
  border-radius: 100%;
  display: flex;
  box-shadow: $shadow;

  &.red {
    background-color: $invalid;
  }

  &.green {
    background-color: $valid;
  }
}
